<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Attraction</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
</head>
<body>

<div>
    <nav class="navbar">
        <div class="logo">Discover Denmark</div>
        <ul class="nav-links">
            <li><a href="/attractions#start">Home</a></li>
            <li><a href="/attractions#attractions">Attractions</a></li>
            <li><a href="/attractions#about">About</a></li>
            <li><a href="/attractions#contact">Contact</a></li>
        </ul>
    </nav>
</div>

<div class="attractions">
    <div class="attraction-item">
        <h1>Create an attraction</h1>
        <div>
            <form action="/attractions/save" method="post" th:object="${touristAttraction}" class="custom-form">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" th:field="*{name}" required>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea th:field="*{description}" required></textarea>
                </div>
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" th:field="*{city}" required>
                </div>
                <div class="checkbox-container">
                    <label id="tagsLabel">Tags:</label>
                    <div th:each="tag : ${tags}" class="checkbox-item">
                        <input type="checkbox" name="selectedTags" th:value="${tag}">
                        <label th:text="${tag.toLowerCase().replace('_', ' ')}"></label>
                    </div>
                </div>
                <button type="submit">Save Attraction</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
