<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Attraction</title>

    <!-- stylesheets -->
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- font-styles -->
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
</head>
<body>

<!-- navigation-bar that is fixed to the screen -->
<div>
    <nav class="navbar">
        <div class="logo">Discover Denmark</div>
        <ul class="nav-links">
            <li><a href="/attractions#start">Home</a></li>
            <li><a href="/attractions#attractions">Attractions</a></li>
            <li><a href="/attractions#about">About</a></li>
            <li><a href="/attractions#contact">Contact</a></li>
        </ul>
    </nav>
</div>

<div class="attractions">
    <div class="attraction-item">
        <h1 th:text="${attraction.name}"></h1>

        <form action="/attractions/update" method="post">
            <!-- Hidden field for attraction name -->
            <input type="hidden" th:name="name" th:value="${attraction.name}">

            <!-- Description field -->
            <div class="description">
                <textarea th:name="description" placeholder="Enter new description for the attraction..."
                          th:text="${attraction.description}"></textarea>
            </div>

            <!-- Tags Checkbox Selection -->
            <div class="checkbox-container">
                <label id="tagsLabel">Tags:</label>
                <div th:each="tag : ${availableTags}" class="checkbox-item">
                    <input type="checkbox" th:id="${tag}" th:name="selectedTags" th:value="${tag}"
                           th:checked="${attractionTags != null and #lists.contains(attractionTags, tag)}">
                    <label th:for="${tag}" th:text="${tag.toLowerCase().replace('_', ' ')}"></label>
                </div>
            </div>
            <button class="btn-submit" type="submit">Update Attraction</button>
        </form>
    </div>
</div>

</body>
</html>
